{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div class="detailed__info">
    <div class="detailed__info-container">
      <div class="detailed__info-preview">
        <img class="detailed__image" src="{% static data.subscription.src %}" alt="{{data.subscription.title}}">
        <div class="detailed__text">
          <div class="detailed__text-title-container">
            <h1 class="detailed__text-title">{{data.subscription.title}}: {{data.subscription.price}}</h1>
            <a href="/"> <button class="btn">Назад</button></a>
          </div>
          <h4 class="detailed__text-subtitle">{{data.subscription.info}}</h4>
          <p class="detailed__text-text">Вы можете заполнить заявку для зачисления абонемента на вашу карту!</p>
          <button class="detailed__rates-list-item-btn btn">Оформить</button>
        </div>
      </div>
      <div class="detailed__rates-container">
        <div class="detailed__rates-list-item">
            <h3 class="detailed__rates-list-item-text">{{ subscription.title }}: {{subscription.price}}</h3>
        </div>
      </div>
    </div>
  </div>
{% endblock %}