{% load static %}
<div class="subscription__card">
    <div class="subscription__card-container">
        <a href="{% url 'subscription_url' element.id %}">
            <img src="{% static element.src %}" class="subscription__card-image"/>
            <div class="subscription__card-info">
                <div class="subscription__card-item subscription__card-title">{{element.id_category.title}}</div>
                <div class="subscription__card-item subscription__card-title">{{ element.title }}</div>
            </div>
        </a>
        <a href="{% url 'delete_record' subscription.id %}" class="del__button">Удалить</a>
    </div>
</div>