{% extends 'base.html' %}


{% block title %}Список заказов{% endblock %}

{% block content %}
<div class="main__image">
</div>


<div class="container">

    <div class="cards__wrapper">
        <div class="cards__info">
            <h2 class="cards__info-title">Виды абонементов</h2>
            
            <div class="cards__info-text">
                <form class="cards__search" action="/" method="GET">
                    <input name="sub" class="cards__input" placeholder="Введите название транспорта" type="text">
                    <button class="btn" type="submit">Найти</button>
                </form>
                <p class="cards__info-text-item">Справа представлены все виды транспорта, которые вы можете приобрести</p>
                <p class="cards__info-text-item">У нас на сайте вы можете подобрать себе абонемент как на использование личного транспорта, так и общественного</p>
                <p class="cards__info-text-item">На каждый вид транспорта есть определенное количество тарифов, каждый из которых отличается по своей стоимости и предаставленным возможностям</p>
                <p class="cards__info-text-item">Подробную информацию о тарифах, включая стоимости, условия можно узнать при нажатии на конкретный вид транспорта, который вас интересует</p>
                <p class="cards__info-text-item">Также у нас есть выгодные предлоэения по некоторым тарифам, о которых можно узнать далее</p>
            </div>
            
        </div>
        <div class="cards__list">
            {% for subscription in data.subscriptions %}
           {% include 'subscription_element.html' with element=subscription%}
        {% empty %}
            <h2 class="empty__list">Такой транспорт не найден</h2>
        {% endfor %}
        </div>
    </div>
    {% endblock %}
</div>

