<!-- <li><a href="{% url 'subscription_url' element.id %}">{{ element.title }}</a> </li> -->
{% load static %}

<div class="subscription__card">
    <a href="">    <div class="subscription__card-container">
        <!-- <div class="subscription__card-image"></div> -->
        <img src="{% static 'images/subway.jpg' %}" class="subscription__card-image"/>
    <div class="subscription__card-info">
        <div class="subscription__card-item subscription__card-title">{{element.title}}</div>
        <div class="subscription__card-item subscription__card-price">от 500р.</div>
    </div>
    </div>
</a>

</div>