<!-- <li><a href="{% url 'subscription_url' element.id %}">{{ element.title }}</a> </li> -->
{% load static %}
<a href="{% url 'subscription_url' element.id %}"> 
    <div class="subscription__card">
       
        <div class="subscription__card-container">
                <!-- <div class="subscription__card-image"></div> -->
            <img src="{% static element.src %}" class="subscription__card-image"/>
            <div class="subscription__card-info">
                <div class="subscription__card-item subscription__card-title">{{element.title}}</div>
                <div class="subscription__card-item subscription__card-price">от {{element.rate_prices.0}}</div>
            </div>
        </div>


    </div>
</a>